<header>
  <%= render partial: 'header', locals: { title: "トレ×メモ" } %>
</header>
<div class="home_body">
  <ul>
    <li class="link_box"><%= link_to "マイページ", "#" %></li>
    <li class="link_box"><%= link_to "本日のトレーニングを記録", "#" %></li>
    <li class="link_box"><%= link_to "カレンダー", "#" %></li>
  </ul>
</div>
<footer>
  <%=render partial: 'footer'%>
</footer>