<header id="home_header">
  <h1 class="header_title">Training_memo</h1>
  <p>Find me in app/views/home/index.html.erb</p>
</header>
<div class="home_body">
  <ul>
    <li class="link_box"><%= link_to "マイページ", "#" %></li>
    <li class="link_box"><%= link_to "本日のトレーニングを記録", "#" %></li>
    <li class="link_box"><%= link_to "カレンダー", "#" %></li>
  </ul>
</div>
<footer id="home_footer">
  <ul class="footer_links">
    <li class="footer_link"><%= link_to "ホーム", "#" %></li>
    <li class="footer_link"><%= link_to "", "#" %></li>
    <li class="footer_link"><%= link_to "", "#" %></li>
  </ul>
</footer>